<div class="mdl-layout mdl-js-layout mdl-color--grey-100">
  <main class="mdl-layout__content">
    <div class="mdl-card mdl-shadow--6dp" style="margin: 4% auto; width: 450px">
      <div class="mdl-card__title mdl-color-text--white" style="background-color:#37474f">
	<h2 class="mdl-card__title-text">Sign up</h2>
      </div>
      <div class="mdl-card__supporting-text">
	<form action="#">
	  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label signup-textfield">
	    <input class="mdl-textfield__input" type="text" id="Name" />
	    <label class="mdl-textfield__label" for="Name">Name</label>
	  </div>
	  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label signup-textfield">
	    <input class="mdl-textfield__input" type="text" id="surname1" />
	    <label class="mdl-textfield__label" for="surname1">First surname</label>
	  </div>
	  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label signup-textfield">
	    <input class="mdl-textfield__input" type="text" id="surname2" />
	    <label class="mdl-textfield__label" for="surname2">Second surname</label>
	  </div>
	  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label signup-textfield">
	    <input class="mdl-textfield__input" type="text" id="Birthdate" />
	    <label class="mdl-textfield__label" for="Birthdate">Birthdate</label>
	  </div>
	  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label signup-textfield">
	    <input class="mdl-textfield__input" type="text" id="username" />
	    <label class="mdl-textfield__label" for="username">Username</label>
	  </div>
	  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label signup-textfield">
	    <input class="mdl-textfield__input" type="password" id="userpass" />
	    <label class="mdl-textfield__label" for="userpass">Password</label>
	  </div>
	</form>
      </div>
      <div class="mdl-card__actions mdl-card--border">
	<button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Sign up </button>
      </div>
    </div>
  </main>
</div>
